@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
  background: #edf1fe;
  color: #111827;
}

* {
  box-sizing: border-box;
}
